2ManyFoods/.env
2ManyFoods/2manyfoods-frontend
/2ManyFoods/db
/2ManyFoods/__pycache__
/projectenv
/.vite
/2ManyFoods/.pytest_cache
/*/*/__pycache__
/*/*/*/__pycache__
2ManyFoods/.env
/2ManyFoods/controllers/__pycache__
/2ManyFoods/services/__pycache__
*.pyc
