.groupCard {
  background: rgba(255, 255, 255, 0.05);
  padding: 1.5rem;
  border-radius: 16px;
  margin-bottom: 1.5rem;
  max-width: 500px;
  width: 100%;
  color: white;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  transition: background 0.2s;
}

.groupCard:hover {
  background: rgba(255, 255, 255, 0.08);
}

.groupCard h3 {
  font-size: 1.3rem;
  text-transform: lowercase;
  margin: 0;
}

.groupCard p {
  font-size: 0.95rem;
  color: #bbb;
  margin: 0.5rem 0 0 0;
}