.tagFilterGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-bottom: 1rem;
}

.tagFilterGroup .tag {
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  border: 1px solid #555;
  background: #1e1c38;
  color: var(--color-white);
  font-size: 0.95rem;
  cursor: pointer;
  transition: var(--transition-fast);
}

.tagFilterGroup .tag.selected {
  background: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-bg-dark);
}
