/* src/pages/CuisinePreferencesPage.css */
.cuisinePage {
  background: linear-gradient(135deg, #1a2332 0%, #2d3e52 100%);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.cuisineContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 2rem;
  max-width: 700px;
  margin: 0 auto;
  width: 100%;
}

.cuisineContent h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 3rem;
  text-align: center;
}
.cuisineContent label{
  display: block;
  margin: 1rem 0;
  font-weight: 600;
  color:#fff;
  font-family: 'poppins', sans-serif;
  font-size:1.1rem;
}


.cuisineContent select {
  margin-top: 0.5rem;
  width: 100%;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #aaa;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  outline: none;
}


.saveBtn {
  padding: 0.9rem 3rem;
  border: 2px solid white;
  border-radius: 30px;
  background: transparent;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
}

.saveBtn:hover {
  background: rgba(255, 255, 255, 0.1);
}
