.reviewPage {
  background: linear-gradient(135deg, #1a2332, #2d3e52);
  min-height: 100vh;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.reviewContent {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.reviewContent > h1 {
  align-self: center;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.restaurantInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.restaurantImage {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.restaurantName {
  font-size: 1.2rem;
  font-weight: 600;
}

.starRating {
  display: flex;
  gap: 8px;
  font-size: 2rem;
  margin-bottom: 1rem;
  user-select: none;
}

.starRating span {
  font-size: 3rem;
}

.starRating input[type="radio"]{
  position: absolute;
  opacity: 0;
}

.starRating label:hover,
.starRating label:hover~label{
  color: gold;
}

.starRating input[type="radio"]:checked~label,
.starRating label.filed {
  color: gold;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100vw;
}

textarea {
  width: 80vw;
  max-width: 750px;
  margin: 0 auto;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 10px;
  resize: none;
  border: none;
  outline: none;
  color: black;
}

.fileUploadLabel {
  font-size: 0.0rem;
  display: inline-flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
  cursor: pointer;
  max-width: fit-content;
}

.fileUploadLabel input[type="file"] {
  background-color: white;
  padding: 0.5rem;
  border-radius: 5px;
  color: black;
  width: auto;
  max-width: 220px;
  display: inline-block;
  cursor: pointer;
}

.reviewPage button {
  background-color: #3f2abf;
  color: white;
  font-weight: 600;
  padding: 0.8rem 2rem;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 1rem;
  display: block;
  max-width: 200px;
  text-align: center;
  align-self: flex-start;
}

button:hover {
  background-color: #5a44e0;
}